name: "Stats"

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  generate-con:
    name: Generate CONTRIBUTORS.svg
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Pull gh-pages
        run: |
          git config --global user.name 'Adam Perkowski'
          git config --global user.email 'adas1per@protonmail.com'
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/adamperkowski/highlightos
          git pull origin gh-pages --force
          git checkout gh-pages

      - name: Generate Contributors Images
        uses: jaywcjlove/github-action-contributors@main
        with:
          filter-author: (renovate\[bot\]|renovate-bot|dependabot\[bot\])
          output: CONTRIBUTORS.svg
          avatarSize: 42

      - name: Push the svg
        run: |
          git add CONTRIBUTORS.svg
          git commit -am "Update CONTRIBUTORS.svg"
          git push --set-upstream origin gh-pages
